img.border-light {
	border: solid 1px #ddd;
}

img.border-dark {
	border: solid 1px black;
}

img.center {
	display: block; 
	margin: 0 auto;
}
/*

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

pre {
	margin: 0;
	padding: 0;
}

pre code {
  background: rgba(238, 238, 238, 0.5);
  margin: 0;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 14px;
  max-width: 100%;
  overflow: auto;
  word-wrap: normal;
  display: block;
  white-space: pre;
  padding: 12px;
}

hr { 
  width: 100%; 
  margin: 3em auto; 
  border: 0; 
  border: none; 
  height: 0; 
}

*/
footer {
    padding: 15px 0;
    margin-top: 40px;
    border-top: 1px #d7d7d7 solid;
    border-bottom: 1px #d7d7d7 solid;
}

/* p.copyright.text-muted {
    text-align: center;
    margin: 10px;
    font-size: 14px;
    display: none;
} */

.navbar-custom .nav-item.dropdown .dropdown-menu {
    word-break: keep-all;
}

.dropdown>.dropdown-toggle {
    outline: none ;
}


/*
.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    margin: 0 0 0 0;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;  
}

*/

.navbar-custom.top-nav-regular .avatar-container .avatar-img-border {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 2;
}

.menu-decoration {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
}

/*

@media only screen and (min-width: 768px) {

.menu-decoration {
    top: 10px;
}

}

*/

.menu-decoration span{
    height: 5px;
    width: calc(100% / 7);
    display: inline-block;
}

.menu-decoration span.green {
    background: #C3E279;
}

.menu-decoration span.pale-yellow {
    background: #FFF000;
}

.menu-decoration span.orange {
    background: #FFD069;
}

.menu-decoration span.red {
    background: #F27669;
}

.menu-decoration span.light-purple {
    background: #DC9CBE;
}

.menu-decoration span.purple {
    background: #C59AE0;
}

.menu-decoration span.blue {
    background: #969DCC;
}


.about-text {
    position: relative;
    margin-left: 1.875rem;
  }
  
  .about-icon {
    font-size: 1.5rem;
    position: absolute;
    left: -2.5rem;
    margin-top: 0.3125rem;
  }

  .list-filters {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    margin-top: 1.5rem;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .list-filters {
      margin-top: 2.5rem;
    }
  }
  
  .list-filters .list-filter  {
    text-decoration: none !important;
    margin-right: 0.9375rem;
    border: 1px solid #777;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    display: inline-block;
  }
  
  .list-filters .list-filter.filter-selected,
  .list-filters .list-filter:hover {
    color: #fff;
    background: #444;
  }
  
  @media only screen and (max-width: 550px) {
    .list-filters .list-filter {
      font-size: 1rem;
      margin-right: 0;
      margin-bottom: -1px;
      display: block;
    }
  }

  .zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {

    -ms-transform: scale(2.0);    
    -moz-transform: scale(2.0);  
    -webkit-transform: scale(2.0);  
    -o-transform: scale(2.0);  
    transform: scale(2.0);    
    position:relative;      
    z-index:100;  
    }
    
    /**To keep upscaled images visible on mobile, 
    increase left & right margins a bit**/  
    @media only screen and (max-width: 768px) {   
    ul.gallery {      
    margin-left: 15vw;       
    margin-right: 15vw;
    }
    
    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/
    .DivName {cursor: pointer}
    }

    .code {
        white-space: pre;
        word-break: normal;
        word-wrap: normal;
    }