---
layout: page
title: Personal Posts
subtitle: 
---

<div class="list-filters">
    <a href="/posts" class="list-filter">All</a>
    <a href="/posts/popular" class="list-filter">Popular</a>
    <a href="/posts/personal" class="list-filter filter-selected">Personal</a>
    <a href="/posts/technical" class="list-filter">Technical</a>
    <a href="/tags" class="list-filter">Index</a>
  </div>

<div class="posts-list">
  {% for post in site.categories.Personal %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.excerpt}}
 <!--     {{ post.content | truncatewords: 50 | strip_html | xml_escape}} -->
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>
